*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.15s;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#theme-toggler {
  background: transparent;
  outline: none;
  border-radius: 0.25rem;
  border: 1px solid #3BB08F;
  color: #3BB08F;
  padding: 1rem 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  font-size: 1.25rem;
}

#theme-toggler:hover,
#theme-toggler:active {
  transform: scale(0.98);
  filter: brightness(1.1);
  cursor: pointer;
}
